<div class="contact-details">
  <h1 class="mat-display-1">Contact Page</h1>
  <mat-card>
    <mat-card-content>
      <p>Name: Devansh Jain</p>
      <p>Email: <a href="mailto:devanshdvj@cse.iitb.ac.in">devanshdvj@cse.iitb.ac.in</a></p>
      <p>Roll Number: 190100044</p>
      <mat-divider></mat-divider>
      <br>
      <p>Name: Harshit Varma</p>
      <p>Email: <a href="mailto:harshitvarma@cse.iitb.ac.in">harshitvarma@cse.iitb.ac.in</a></p>
      <p>Roll Number: 190100055</p>
    </mat-card-content>
  </mat-card>
</div>
