<form [formGroup]="form" (ngSubmit)="onSubmit()">
  Value: {{ form.value | json }}
  <p>Name:
    <input type="text" formControlName="name" placeholder="name" />
  </p>
  <p>Email:
    <input type="text" formControlName="email" placeholder="email" />
  </p>
  <p>Feedback:
    <input type="radio" formControlName="feedback" value="Great">Great
    <input type="radio" formControlName="feedback" value="Okay">Okay
    <input type="radio" formControlName="feedback" value="Not good">Not good
  </p>
  <p>Comments:
    <textarea formControlName="comments" placeholder="comments"></textarea>
  </p>
  <button type="submit">Submit</button>

</form>

<br>

<p>Name: {{view_data.name}}</p>
<p>Email: {{view_data.email}}</p>
<p>Feedback: {{view_data.feedback}}</p>
<p>Comments: {{view_data.comments}}</p>

<br>
